body{
    font-family: 'Montserrat';
}
#title{
    background-color: #ff4c68;
    color: #fff;
}
h1{
    font-family: 'Montserrat';
    font-size: 4.0rem;
    font-weight: bold;
    line-height: 1.5;
}
h2{
    font-family: 'Montserrat';
    font-size: 3rem;
    line-height: 1.5;
}
.h2-pricing{
    font-family: 'Montserrat';
    font-size: 3.0rem;
    font-weight: bold;
    line-height: 1.5;
}
h3{
    font-family: 'Montserrat';
    font-size: 2rem;
    font-weight: bold;
}
p{
    color: #8f8f8f;
}
.container-fluid{
    padding: 3% 15% 7%;
}

/* Navigation Bar */
.navbar{
    padding:0 0 4.5rem;
}
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold; 
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat';
    color: #f2a6b0;
}

/* download button */

.download-button{
    margin: 5% 3% 5%;
}
/* Titel Image */
.title-image{
    width: 20%;
    transform: rotate(25deg); 
    position: absolute;
    right: 25%;
}

/* features section */
#features{
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}
.features-box{
    text-align: center;
    padding: 5%;
}

.icon{
    color: #f17464;
    margin: 1rem;
}
.icon:hover{
    color: #ff4c68;
}

/* Testimonials Section */
#testimonials{
    
    text-align: center;
    background-color: #f66c5a;
    color: #fff;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.carousel-item{
    padding: 7% 15%;
}
#press{
    background-color: #f66c5a;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}
#pricing{
    padding: 100px;
    text-align: center;
}
.pricing-column{
    padding: 3% 2%;
}

/* Section CTA */

#cta{
    background-color: #ff4c68;
    padding: 7% 15%;
    text-align: center;
    color: #fff;
}
.cta-heading{
    font-family: 'Montserrat';
    line-height: 4.5rem;
    font-size: 3.5rem;
    font-weight: bold;
}

/* Footer */

#footer{
    padding: 7% 15%;
    text-align: center;
}

.social-icon{
    margin: 20px 10px;
}

@media (max-width:1080px){

    #title{
        text-align: center;
    }

    .title-image{
        position: static;
        transform: rotate(0);
        width: 60%;
         
    }
}



